<h1><%= @title %></h1>

	<img src='<%= @poster %>' />

	<p class="details">
		<b>Plot:</b> <%= @plot %> <br><br>
		<b>Year:</b> <%= @year %> <br><br>
		<b>Rating:</b> <%= @rating %> <br><br>
		<b>Running Time:</b> <%= @runtime %> <br><br>
		<b>Genre:</b> <%= @genre %> <br><br>
		<b>Director:</b> <%= @director %> <br><br>
		<b>Actors:</b> <%= @actors %> <br><br>
		<b><a href='<%= @moreinfo %>' target='_blank'>More Info on IMDb</a></b>
		<br><br><br>
		<a class="go_home" href='/'>Search Again</a>
	</p>
