<!-- poster page -->
<img src="<%=@poster%>"
<ul>
	<br></br>
	<%=@plot%>
	<br></br>
	<%=@release%>
	<br></br>
	<%=@rated%>
	<br></br>
	<%=@runtime%>
	<br></br>
	<%=@genre%>
	<br></br>
	<%=@director%>
	<br></br>
	<%=@actor%>
	<br></br>
</ul>
<a href="http://www.imdb.com/title/<%=@search%>">Check out this film's IMDB page!</a>