



<%= @movies.inspect %>

<ul>
	
<% @movies.each do |movie| %>

<a href='/show/<%= movie["imdbID"] %>' >

<li>
		<%= title = movie["Title"] %>
		<%= year = movie["Year"] %>
		<%= id = movie["imdbID"] %> 
</li>

</a>

<% end %>

</ul> 


