<!--poster page-->

<img src="<%=@poster %>">

<div>
	<ul>
		Rating <%=@rating%> <br></br>
		Release: <%=@release%> <br></br>
		Runtime: <%=@runtime%> <br></br>
		Genre: <%=@genre%> <br></br>
		Director(s): <%=@director%> <br></br>
		Actors: <%=@actors%> <br></br>
		Plot: <%=@plot%> <br></br>
	</ul>
</div>




