
<h1>Enjoy Your Film</h1>

<img src="<%= @movie_info["Poster"] %>"/>
<ul>
<li id="title"><%= @movie_info["Title"] %></li>
<li><%= @movie_info["Runtime"] %></li>
<li><%= @movie_info["Released"] %></li>
<li><%= @movie_info["Rated"] %></li>
<li><%= @movie_info["Actors"] %></li>
<li><%= @movie_info["Plot"] %></li> 
</ul>
