<div class="show">
	<div class="poster">
<img src= "<%= @poster %>" /> 
	</div>
<br />
<strong>IMDb Link:</strong><br /><a href='http://www.imdb.com/title/<%=@link%>'> <%= @title %></a>
<br />
<strong>Plot:</strong><br /><%= @plot %><br />
<strong>Year:</strong><br /><%= @year %><br />
<strong>Rating:</strong><br /><%= @rated %><br />
<strong>Runtime:</strong><br /><%= @runtime %><br />
<strong>Genre:</strong><br /><%= @genre %><br />
<strong>Director:</strong><br /><%= @director %><br />
<strong>Actors:</strong><br /><%= @actors %><br />
<a href='/'><button>Back to Movie Seach</button></a>
</div>
