<!-- shows the poster (Phase 2 -->
<!-- The poster page should contain the "Plot", "Released Year", "Rated", "Runtime", "Genre", "Director", and "Actors". (Optional: Add a link to the actual IMDB page). -->

<img src='<%=@poster%>'/><br></br>

<ul>
	<li> <%=@plot%> </li><br></br>
	<li> <%=@plot%></li><br></br>
	<li> <%=@released%></li><br></br>
	<li> <%=@rated%></li><br></br>
	<li> <%=@runtime%></li><br></br>
	<li> <%=@genre%></li><br></br>
	<li> <%=@director%></li><br></br>
	<li> <%=@actors%></li><br></br>
</ul>