<img src='<%= @info["Poster"] %>' />
<ul>
	<li><strong><%= @info["Title"] %></strong> (<%= @info["Year"] %>)</li>
	<li><span class="info"><%= @info["Rated"] %> <%= @info["Runtime"] %><span class="genre"><%= @info["Genre"].gsub(", ", " | ") %></span></span></li>
	<li class="plot"><%= @info["Plot"] %></li>
	<li>Directed by <%= @info["Director"] %></li>
</ul>