<!--poster page-->
<div class="row">
	<div class="col-lg-6">
		<img id="poster" src="<%=@poster %>">
	</div>
	<div class="col-lg-6">
		<ul class="white">

			Rating: <%=@rating%> <br></br>
			Release: <%=@release%> <br></br>
			Runtime: <%=@runtime%> <br></br>
			Genre: <%=@genre%> <br></br>
			Director: <%=@director%> <br></br>
			Actors: <%=@actors%> <br></br>
			Plot: <%=@plot%> <br></br>
		</ul>
	</div>
</div>




