
     <!--  <%= @pic.inspect %></br> -->
     <div id"info4">
     
      <img src = <%= @pic["Poster"] %> />
      <%= @pic["Title"] %>
      <ul id="info">
       <li class="hover"> Type:   <%= @pic["Type"] %></li>
       <li class="hover"> Plot:   <%= @pic["Plot"] %></li>
       <li class="hover"> Year:   <%= @pic["Year"] %></li>
       <li class="hover"> Rated:  <%= @pic["Rated"] %></li>
       <li class="hover"> Genre:  <%= @pic["Genre"]  %></li>
       <li class="hover"> Votes:  <%= @pic["imdbVotes"] %></li>
       <li class="hover"> Rating: <%= @pic["imdbRating"] %></li>
       <li class="hover"> Runtime: <%= @pic["Runtime"] %></li>
       <li class="hover"> Director <%= @pic["Director"] %></li>
         </ul>
        <a href="/"><button> Back To Movie Search </button></a>
        </div>