<div id="poster"><img src='<%= @imdb_poster["Poster"]%>'/>
</div>
<div> 
	<ul>

	<li class="title"><%= @imdb_poster["Title"]%></li>
	<li> <%= @imdb_poster["Type"] %></li>
	<li> <%= @imdb_poster["Year"] %></li>
	<li> <%= @imdb_poster["Rated"] %></li>
	<li> <%= @imdb_poster["Genre"] %></li>
	<li> <%= @imdb_poster["mdbVotes"] %></li>
	<li> <%= @imdb_poster["mdbRating"] %></li>
	<li> <%= @imdb_poster["Runtime"] %></li>
	<li> <%= @imdb_poster["Director"] %></li>	
	</ul>
</div>

<a href="/">home</a>