<div class=overview>
	<h2>Movie Overview:</h1>
		<ul>
			<li>Poster: <a href='<%= @movie["Poster"] %>'><%= @movie["Title"] %> - <%= @movie["Year"] %></a></li>
			<li> Released: <%= @movie["Released"] %> </li>
			<li> Rated: <%= @movie["Rated"] %> </li>
			<li> Runtime: <%= @movie["Runtime"] %> </li>
			<li> Genre: <%= @movie["Genre"] %> </li>
			<li> Director: <%= @movie["Director"] %> </li>
			<li> Actors: <%= @movie["Actors"] %> </li>
		</ul>
</div>

<div class="plot">
	<h2>Plot:</h2>
	<p> <%= @movie["Plot"] %> </p>
</div>


