<h1>Movie Info</h1>

<div>
	<%if @poster != "N/A"%>
	<table>
		<tr>
			<td>
				<img src = <%=@poster%>></img > 
			</td>
			<td>
				<ul class="popcorn">
					<li>Title: <%= @result["Title"]%></li>
					<li>Year Released: <%= @result["Year"]%></li>
					<li>Rated: <%= @result["Rated"]%></li>
					<li>Runtime: <%= @result["Runtime"]%></li>
					<li>Genre: <%= @result["Genre"]%></li>
					<li>Director: <%= @result["Director"]%></li>
					<li>Plot:  <%= @result["Plot"]%></li>
					<li>Actors: <%= @result["Actors"]%></li>
				</ul>
				<form method="get" action="/">
				<input type="submit" value="Search Again!"> 
			</td>
		</tr>
	</table>

	<%else%>
				<ul class="popcorn">
					<li>Title: <%= @result["Title"]%></li>
					<li>Year Released: <%= @result["Year"]%></li>
					<li>Rated: <%= @result["Rated"]%></li>
					<li>Runtime: <%= @result["Runtime"]%></li>
					<li>Genre: <%= @result["Genre"]%></li>
					<li>Director: <%= @result["Director"]%></li>
					<li>Plot:  <%= @result["Plot"]%></li>
					<li>Actors: <%= @result["Actors"]%></li>
				</ul>
				<form method="get" action="/">
				<input type="submit" value="Search Again!"> 
	<%end%>
</div>

<img src= ../images/catsnacks.jpg>
