<!--poster page-->
<div class= poster>
	<img src='<%= @poster %>'/>
</div>	
<div class= movie-info>
		<p>
		  Rated: <%= @rating %><br></br>
	  	Released: <%= @release %><br></br>
	  	Runtime: <%= @runtime %><br></br>
			Genre: <%= @genre %><br></br>
		  Director: <%= @director %><br></br>
		  Actors: <%= @actors %><br></br>
			Plot: <%= @plot %>
		</p>
	</div> 
