

<ul>
<h2>Plot</h2><li><%= @plot %></li>
<h2>Year</h2><li><%= @year %></li>
<h2>Rating</h2><li><%= @rated %></li>
<h2>Runtime</h2><li><%= @runtime %></li>
<h2>Genre</h2><li><%= @genre %></li>
<h2>Director</h2><li><%= @director %></li>
<h2>Actors</h2><li><%= @actors %></li>
</ul>

<img src=<%= @poster %> />